{% extends '../base.html' %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board">
				<form id="search_form" action="/board" method="post">
					{% csrf_token %}
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					{% for board in boardlist %}
						<tr>
							<td>{{ board.id }}</td>
							<td style="text-align:left; padding-left: {{ board.depth | mul:20 }}px ">
								<a href="/board/view/{{ board.id }}">
									{% if board.depth != 0 %}
										<img src="/assets/images/reply.png" />
									{% endif %}
									{{ board.title }}
								</a>
							</td>
							<td>{{ board.user.name }}</td>
							<td>{{ board.hit }}</td>
							<td>{{ board.regdate | date:'Y-m-d H:i:s' }}</td>
							<td><a href="/board/delete/{{ board.id }}" class="del">삭제</a></td>
						</tr>
					{% endfor %}
				</table>

				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						{% if pager.current_block == 0 %}
							<li>◀</li>
						{% else %}
							<li><a href="/board?page={{ pager.preview_page }}&kwd={{ keyword }}">◀</a></li>
						{% endif %}
						{% for i in block_range %}
							{% if i == pager.current_page|add:1 %}
								<li class="selected"><a href="/board?page={{ i|sub:1 }}&kwd={{ keyword }}">{{ i }}</a></li>
							{% elif i > pager.total_page_count %}
								<li>{{ i }}</li>
							{% else %}
								<li><a href="/board?page={{ i|sub:1 }}&kwd={{ keyword }}">{{ i }}</a></li>
							{% endif %}
						{% endfor %}
						{% if pager.current_block|add:1 == pager.total_block_count %}
							<li>▶</li>
						{% else %}
							<li><a href="/board?page={{ pager.next_page }}&kwd={{ keyword }}">▶</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="bottom">
					<a href="/board/writeform" id="new-book">글쓰기</a>
				</div>
			</div>
{% endblock %}